h1 {
	font-family: 'Playball', cursive;
	font-size: 5em;
	margin-bottom: .75em;
	color: #800000;
}
.card-maker-wrapper {
	width: 75%;
	margin: 0 auto;
	text-align: center;
}
section#card-generator {
	margin: 1em auto 1em auto;
	font-size: 5em;
	border: 2px dotted #228b22;
	height: 3em;
	width: 75%;
	color: #800000;
	font-family: 'Playball', cursive;
}
textarea {
	display: block;
	margin: 2em auto;
}
button {
	padding: .75em;
	font-size: 1.2em;
	background-color: #228b22;
	color: #fff;
}
button:hover {
	background-color: #125112
}